@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap");

/* RESET */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* COLORS */
  --color-primary: hsl(179, 62%, 43%);
  --color-accent: hsl(71, 73%, 54%);

  --color-bg: hsl(204, 43%, 93%);
  --color-muted: hsl(218, 22%, 67%);
  --color-white: hsl(0, 0%, 100%);

  /* TYPOGRAPHY */
  --font-family-base: "Karla", sans-serif;
  --font-size-base: 1rem;

  --font-weight-regular: 400;
  --font-weight-bold: 700;

  /* SPACING */
  --space-xs: 0.5rem; /* 8px detalhe pequeno, gap mínimo */
  --space-sm: 0.75rem; /* 12px espaço pequeno entre texto e elemento */
  --space-md: 1rem; /* 16px espaço padrão */
  --space-lg: 1.5rem; /* 24px separar blocos internos */
  --space-xl: 2rem; /* 32px padding de card/seção */
  --space-2xl: 3rem; /* 48px separar grandes áreas da página */

  /* BORDER RADIUS */
  --radius-md: 0.8rem;

  /* SHADOW */
  --shadow-card: 0 1rem 2rem hsl(218, 22%, 67%, 0.25);
}

/* BASE */
html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  background-color: var(--color-bg);
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: grid;
  grid-template-rows: 1fr auto;
}

/* LINKS */
a {
  color: inherit;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* MEDIA */
img,
picture,
svg,
video {
  max-width: 100%;
  display: block;
}

/* FORMS */
input,
button,
textarea,
select {
  font: inherit;
  outline-color: currentColor;
}

textarea {
  resize: vertical;
}

/* BUTTONS */
button {
  cursor: pointer;
  border: none;
  background: none;
}

button:focus-visible {
  outline: 2px solid black;
  outline-offset: 4px;
}

/* LISTS */
ul,
ol {
  list-style: none;
}

/* titulos e subtitulos */
h1,
h2,
p,
li {
  font-family: var(--font-family-base);
  color: var(--color-white);
}

main {
  display: grid;
  place-items: center;
  padding: var(--space-md);
}

.card {
  width: 100%;
  max-width: 45rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: var(--color-white);
  border-radius: var(--radius-md);
  box-shadow: var(--shadow-card);
  overflow: hidden;
}

/* box 1  */
.intro {
  grid-column: 1 / -1;
  padding: var(--space-2xl);
}

.intro h1 {
  color: var(--color-primary);
  margin-bottom: var(--space-md);
}

.intro h2 {
  color: var(--color-accent);
  margin-bottom: var(--space-xs);
}

.intro p {
  color: var(--color-muted);
  max-width: 550px;
}

/* box 2  */
.price {
  background-color: var(--color-primary);
  padding: var(--space-2xl);
}

.price-value {
  display: flex;
  align-items: center;
  gap: var(--space-md);
  color: var(--color-white);
  font-weight: 100;
}

.price h2 {
  margin-bottom: var(--space-md);
}

.price-value span {
  font-size: 2rem;
  font-weight: var(--font-weight-bold);
}

.price button {
  width: 100%;
  color: var(--color-white);
  background-color: var(--color-accent);
  padding: var(--space-md);
  border-radius: 0.3rem;
  font-family: var(--font-family-base);
  font-weight: 700;
  text-align: center;
  margin-top: 2rem;
  box-shadow: var(--shadow-card);
  transition:
    background-color 0.5s ease,
    color 0.5s ease;
}

.price button:hover {
  color: var(--color-accent);
  background-color: var(--color-white);
}

/* box 3  */
.why {
  background-color: #4cbcbb;
  padding: var(--space-2xl);
}

.why h2 {
  margin-bottom: var(--space-md);
}

.why li {
  font-size: 0.9rem;
  font-weight: 300;
  transition:
    background-color 0.5s ease,
    color 0.5s ease;
}

.why li:hover {
  color: var(--color-accent);
}

/* footer */

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: var(--space-md) 0;
}

footer p,
footer a {
  color: black;
  text-decoration: none;
  transition:
    background-color 0.5s ease,
    color 0.5s ease;
}

footer a:hover {
  color: var(--color-primary);
}

/* mobile view */
@media (max-width: 760px) {
  .card {
    grid-template-columns: 1fr;
  }

  .intro {
    padding: var(--space-xl);
  }

  .intro h1 {
    font-size: 1.4rem;
  }

  .intro h2 {
    font-size: 1rem;
  }

  .intro p {
    font-size: 0.9rem;
  }

  .price {
    padding: var(--space-xl);
  }

  .why {
    padding: var(--space-xl);
    transition:
      background-color 0.5s ease,
      color 0.5s ease;
  }

  .why li:hover {
    color: var(--color-accent);
  }
}
