@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  height: 100vh;
  background-color: hsl(212, 45%, 89%);
}

.page {
  max-width: 1440px;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}

.card {
  font-family: "Outfit", sans-serif;
  background-color: hsl(0, 0%, 100%);
  width: 350px;
  padding: 20px;
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  cursor: crosshair;
}

.card img {
  width: 100%;
  border-radius: 15px;
}

main {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
}

.card h1 {
  font-size: 1.5rem;
  text-align: center;
  color: hsl(218, 44%, 22%);
  font-weight: 800;
  padding-top: 20px;
}

.card p {
  text-align: center;
  font-size: 1.1rem;
  font-weight: 400;
  color: hsl(216, 15%, 48%);
  padding: 5px;
  margin-bottom: 20px;
}

footer {
  font-family: "Outfit", sans-serif;
  font-size: 1.5rem;
  color: hsl(218, 44%, 22%);
}

footer a {
  color: hsl(216, 15%, 48%);
}

footer a:hover {
  color: hsl(218, 44%, 22%);
  transition: 0.5s;
}

@media (max-width: 480px) {
  body {
    height: 100vh;
  }

  .page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px;
  }

  footer {
    font-size: 1rem;
  }
}
